@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../Fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../Fonts/NunitoSans-SemiBold.ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../Fonts/NunitoSans-Bold.ttf");
}

body {
  font-family: "Nunito Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
}
.mode-opener {
  background-color: rgba(32, 44, 54, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  padding: 23px 0 24px 0;
  background-color: #ffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.mode-opener .header {
  background-color: rgba(43, 56, 68, 1);
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
}
.white_logo {
  display: none;
}
.mobile_logo {
  display: none;
}
.mobile_logo_white {
  display: none;
}
.mode-opener .black_logo {
  display: none;
}
.mode-opener .white_logo {
  display: block;
}
.white-moon {
  display: none;
}
.mode {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111517;
}
.mode-opener .mode {
  color: #fff;
}
.mode-opener .black-moon {
  display: none;
}
.mode-opener .white-moon {
  display: block;
}
/* hero part */
.search_box {
  padding-top: 48px;
}

.mode-opener .search-input {
  background-color: rgba(43, 56, 68, 1);
  border: none;
}
.search-input::placeholder {
  padding-left: 10px;
}

.search-label {
  position: relative;
}

.mode-opener .search-input::placeholder {
  padding: 30px;
  color: #fff;
}
.mode-opener .select_element {
  padding: 8px;
  border: none;
  background-color: rgba(43, 56, 68, 1);
  color: #fff;
}
.mode-opener .select_element {
  color: white;
}
/* hero part */
.hero {
  padding-top: 48px;
}
.card_link {
  text-decoration: none;
}
.card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
}
.mode-opener .card_title {
  color: #fff;
}
.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #111517;
}
.mode-opener .card-text {
  color: #fff;
}
.mode-opener .more_info_btn {
  color: #fff;
  border: 1px solid white;
  background-color: #2b3844;
}
.mode-opener .card-item {
  background-color: #2b3844;
}
.card-item {
  padding-bottom: 20px;
}
.more_info_btn {
  margin-left: 15px;
  padding: 5px 10px;
  width: 90px;
  background-color: white;
  border: 1px solid rgb(85, 81, 81);
  color: #111517;

  border-radius: 10px;
}
.country_img {
  width: 262px;
  height: 160px;
}
@media only screen and (max-width: 576px) {
  .black_logo {
    display: none;
  }
  .mobile_logo {
    display: block;
  }
  .mode {
    font-size: 12px;
  }
  .mode-opener .white_logo {
    display: none;
  }
  .mode-opener .mobile_logo {
    display: none;
  }
  .mode-opener .mobile_logo_white {
    display: block;
  }
  .form-search {
    flex-direction: column;
  }

  .select_element {
    margin-top: 40px;
  }
}

/* about page part */
.about {
  padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 30px;
}
.back_link {
  padding: 8px 20px;
  background-color: white;
  border-radius: 5px;
}
.about_card {
  margin-top: 60px;
}
.about_card_img {
  border-radius: 7px;
}
.about_card_right {
  width: 100%;
  max-width: 600px;
}
.about_desc {
  font-weight: 300;
}
.modal_info {
  font-size: 16px;
}
.mode-opener .modal_info {
  background-color: #2b3844;
  color: #fff;
}
